h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #1F1F1F;
  margin-bottom: 1em;
}

.nodes {
  display: grid;
  grid: auto / repeat(4, 1fr);
  grid-gap: 3em;
  text-align: left;
  .node {
    color: white;
    cursor: pointer;
    transition: all .05s ease-in-out;
    h3 {
      font-size: 24px;
      font-weight: bold;
    }
    h5 {
      font-size: 16px;
      font-weight: lighter;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      margin-top: 30px;
    }
    .button {
      float: right;
      margin-top: -20px;
    }
    &.online {
      background: linear-gradient(135deg, #89F0AF, #63D4DB);
      box-shadow: 0 0 15px rgba($color: #89F0AF, $alpha: .4);
      border-radius: 15px;
      padding: 1.5em;
      &:hover {
        box-shadow: 0 0 20px rgba($color: #89F0AF, $alpha: .5);
      }
    }
    &.warning {
      background: linear-gradient(135deg, #FED488, #FF8E3B);
      box-shadow: 0 0 15px rgba($color: #FED488, $alpha: .4);
      border-radius: 15px;
      padding: 1.5em;
      &:hover {
        box-shadow: 0 0 20px rgba($color: #FED488, $alpha: .5);
      }
    }
    &.offline {
      background: linear-gradient(135deg, #FF8A90, #FF485F);
      box-shadow: 0 0 15px rgba($color: #FF8A90, $alpha: .4);
      border-radius: 15px;
      padding: 1.5em;
      &:hover {
        box-shadow: 0 0 20px rgba($color: #FF8A90, $alpha: .5);
      }
    }
  }
}