<h2>Nodes</h2>

<div class="nodes" *ngIf="nodes">
  <div class="node online" [ngClass]="getStateClass(node)" *ngFor="let node of nodes" [routerLink]="[ '/nodes', node._id ]">
    <h3>{{node.label}}</h3>
    <h5>#{{node._id}}</h5>
    <p>Running</p>
    <div class="button"><i class="fas fa-arrow-right"></i></div>
  </div>
  <!-- <div class="node online">
    <h3>Node Alfa</h3>
    <h5>#01092351f</h5>
    <p>Running</p>
    <div class="button"><i class="fas fa-arrow-right"></i></div>
  </div>
  <div class="node warning">
    <h3><i class="fas fa-exclamation-triangle"></i> Node Sigma</h3>
    <h5>#2f86ebb40</h5>
    <p>Needs Attention!</p>
    <div class="button"><i class="fas fa-arrow-right"></i></div>
  </div>
  <div class="node offline">
    <h3>Node Delta</h3>
    <h5>#100aa4d72</h5>
    <p>Offline</p>
    <div class="button"><i class="fas fa-arrow-right"></i></div>
  </div> -->
</div>