<div class="ui grid centered container" style="padding-top: 128px; padding-bottom: 128px;">
  <!-- TODO: Move style to SCSS -->
  <div class="row" style="font-size: 24px; padding-bottom: 0;">
    <div class="six wide column" style="text-align: left;">
      <i class="arrow left icon" [routerLink]="[ '/nodes' ]"></i>
    </div>
    <div class="six wide column" style="text-align: right;">
      <i class="settings icon"></i>
    </div>
  </div>

  <div class="ui row">
    <h2 class="ui icon header">
      <i class="cube icon"></i>
      <div *ngIf="node" class="content">
        {{ node.label }}
        <!-- <div class="sub header">#{{ node._id.substring(0,8) }}</div> -->
      </div>
    </h2>
  </div>

  <div class="ui row tiny statistics">
    <div class="statistic">
      <div class="value">
        - &deg;C
      </div>
      <div class="label">
        Air Temperature
      </div>
    </div>
    <div class="statistic">
      <div class="value" *ngIf="watertempSen">
        {{ watertempSen.data[0].value }} &deg;C
      </div>
      <div class="value" *ngIf="!watertempSen">
        - &deg;C
      </div>
      <div class="label">
        Water Temperature
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        - %
      </div>
      <div class="label">
        Air Humidity
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        - pH
      </div>
      <div class="label">
        Water Hardness
      </div>
    </div>
  </div>

  <!-- TODO: Extract into component -->
  <div class="ui row actuators">

    <div class="ui four wide column">
      <div class="ui segment" style="text-align: center;">
        <div class="statistic" style="margin: 0 0 1rem 0;">
          <div class="value">
            <img src="assets/actuators/flow.svg" class="ui circular mini inline image"
              style="padding: .5rem 0 .5rem 0;">
          </div>
          <div class="label">
            Flow Pump
          </div>
        </div>
        <div class="ui right labeled fluid input">
          <input type="number" min="0" max="255" (change)="updateValue($event)" [value]="flowpumpAct.value"
            data-actuator="5ca353688f16170010235b0f" placeholder="Enter value...">
          <div class="ui basic label"> %</div>
        </div>
      </div>
    </div>

    <div class="ui four wide column">
      <div class="ui segment" style="text-align: center;">
        <div class="statistic" style="margin: 0 0 1rem 0;">
          <div class="value">
            <img src="assets/actuators/light.svg" class="ui circular mini inline image"
              style="padding: .5rem 0 .5rem 0;">
          </div>
          <div class="label">
            Grow Light
          </div>
        </div>
        <div class="ui right labeled fluid input">
          <input type="number" min="0" max="255" (change)="updateValue($event)" [value]="lightintAct.value"
            data-actuator="5ca353688f16170010235b0e" placeholder="Enter value...">
          <div class="ui basic label"> %</div>
        </div>
      </div>
    </div>

    <div class="ui four wide column">
      <div class="ui segment" style="text-align: center;">
        <div class="statistic" style="margin: 0 0 1rem 0;">
          <div class="value">
            <img src="assets/actuators/food.svg" class="ui circular mini inline image"
              style="padding: .5rem 0 .5rem 0;">
          </div>
          <div class="label">
            Food Pump
          </div>
        </div>
        <div class="ui right labeled disabled fluid input">
          <input type="text" min="0" max="100" placeholder="Enter value..." value="Not Connected">
          <div class="ui basic label"> %</div>
        </div>
      </div>
    </div>

  </div>

  <!-- TODO: Extract into component -->
  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart [showData]="true" [dataset]="fakerWaterTempData"></app-line-chart>
      <div class="ui bottom right attached label">Water Temperature</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart [showData]="true" [dataset]="fakerAirTempData"></app-line-chart>
      <div class="ui bottom right attached label">Air Temperature</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Air Humidity</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Water pH Level</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Light Intensity</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Water Flow</div>
    </div>
  </div>

  <!-- <div class="ui relaxed divided list">
    <div class="item" *ngFor="let sensor of sensors">
      <i class="large server aligned icon"></i>
      <div class="content">
        <a class="header">{{ sensor.label }}</a>
        <div class="description">Sensor measures in {{ sensor.type }}</div>
      </div>
    </div>
  </div> -->
</div>
