<div class="ui grid centered container" style="padding-top: 128px; padding-bottom: 128px;">
  <!-- TODO: Move style to SCSS -->

  <div class="ui row">
    <h2 class="ui icon header">
      <i class="cube icon"></i>
      <div *ngIf="node" class="content">
        {{ node.label }}
        <div class="sub header">#{{ node._id }}</div>
      </div>
    </h2>
  </div>

  <div class="ui row tiny statistics">
    <div class="statistic">
      <div class="value">
        -
      </div>
      <div class="label">
        Air Temperature
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        -
      </div>
      <div class="label">
        Water Temperature
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        -
      </div>
      <div class="label">
        Air Humidity
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        -
      </div>
      <div class="label">
        Water Hardness
      </div>
    </div>
  </div>

  <!-- TODO: Extract into component -->
  <div class="ui row">

    <div class="ui four wide column">
      <div class="ui segment" style="text-align: center;">
        <div class="statistic" style="margin: 0 0 1rem 0;">
          <div class="value">
            <img src="assets/actuators/flow.svg" class="ui circular mini inline image"
              style="padding: .5rem 0 .5rem 0;">
          </div>
          <div class="label">
            Flow Pump
          </div>
        </div>
        <div class="ui right labeled fluid input">
          <input type="number" min="0" max="100" placeholder="Enter value...">
          <div class="ui basic label"> %</div>
        </div>
      </div>
    </div>

    <div class="ui four wide column">
      <div class="ui segment" style="text-align: center;">
        <div class="statistic" style="margin: 0 0 1rem 0;">
          <div class="value">
            <img src="assets/actuators/light.svg" class="ui circular mini inline image"
              style="padding: .5rem 0 .5rem 0;">
          </div>
          <div class="label">
            Grow Light
          </div>
        </div>
        <div class="ui right labeled fluid input">
          <input type="number" min="0" max="100" placeholder="Enter value...">
          <div class="ui basic label"> %</div>
        </div>
      </div>
    </div>

    <div class="ui four wide column">
      <div class="ui segment" style="text-align: center;">
        <div class="statistic" style="margin: 0 0 1rem 0;">
          <div class="value">
            <img src="assets/actuators/food.svg" class="ui circular mini inline image"
              style="padding: .5rem 0 .5rem 0;">
          </div>
          <div class="label">
            Food Pump
          </div>
        </div>
        <div class="ui right labeled disabled fluid input">
          <input type="text" min="0" max="100" placeholder="Enter value..." value="Not Connected">
          <div class="ui basic label"> %</div>
        </div>
      </div>
    </div>

  </div>

  <!-- TODO: Extract into component -->
  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Water Temperature</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Air Temperature</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Air Humidity</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Water PH Level</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Light Strength</div>
    </div>
  </div>

  <div class="ui eight wide column">
    <div class="ui segment chart">
      <app-line-chart></app-line-chart>
      <div class="ui bottom right attached label">Water Flow</div>
    </div>
  </div>

  <!-- <div class="ui relaxed divided list">
    <div class="item" *ngFor="let sensor of sensors">
      <i class="large server aligned icon"></i>
      <div class="content">
        <a class="header">{{ sensor.label }}</a>
        <div class="description">Sensor measures in {{ sensor.type }}</div>
      </div>
    </div>
  </div> -->
</div>
